<h1>{{ title }}</h1>
<div style="position: relative">
  <label for="timer">Set Timer </label>
  <app-print-timer
    [hours]="time.hours"
    [minutes]="time.minutes"
    [seconds]="time.seconds"
    [focus]="focus"
    (click)="focusInput(inputNumber)"
  ></app-print-timer>
  <input
    #inputNumber
    type="number"
    [disabled]="interval !== null"
    id="timer"
    min="0"
    (focus)="toggleFocus()"
    (blur)="toggleFocus()"
    [ngModel]="timer"
    (ngModelChange)="timerChange($event)"
  />
</div>
<div>
  <button
    type="button"
    [disabled]="timer === 0 || interval !== null"
    (click)="startTimer()"
  >
    Start
  </button>
  <button type="button" [disabled]="interval === null" (click)="stopTimer()">
    Stop
  </button>
  <button type="button" (click)="resetTimer()">Reset</button>
</div>
