/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100vw;
  height: 100vh;
}

body {
  background-color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(31, 31, 31);
}

button {
  margin-right: 5px;
  padding: 10px 15px;
  border: none;
  background: rgb(238, 238, 238);
  font-size: 1.05em;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

button:hover:not(:disabled) {
  background: rgb(221, 221, 221);
}

h3 {
  font-size: 22px;
}
