.time-container {
  display: flex;
  justify-content: space-around;
  height: 50px;
  margin-bottom: 30px;
  box-shadow: 0 1px 2px rgb(10 10 10 / 30%);
  background: rgb(238, 238, 238);
}

.time-container.focus {
  border: 2px solid rgb(53, 60, 165);
}

.time-field {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 33%;
  width: 33%;
  min-width: 2em;
}

.time-container.focus .time-field:last-child .time {
  border-right: 2px solid rgb(31, 31, 31);
}

.time {
  display: block;
  position: relative;
  padding-right: 20px;
  font-size: 32px;
  line-height: 32px;
  height: 32px;
  box-sizing: border-box;
}

.time::after {
  position: absolute;
  right: 3px;
  bottom: 2px;
  font-size: 16px;
  line-height: 16px;
  opacity: 0.7;
}

.hour::after {
  content: "H";
}

.minute::after {
  content: "M";
}

.second::after {
  content: "S";
}
